# === NODE / REACT / ELECTRON ===
node_modules/
dist/
build/
.env
.vscode/
.DS_Store

# === PYTHON ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
*.env
*.sqlite3
*.db

# === GENERAL ===
*.log
*.bak
*.tmp