body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #004a99;
  }
  
  .container {
    max-width: 600px;
    margin: 3rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2, h3 {
    text-align: center;
    color: #0066cc;
  }
  
  input, select, textarea, button {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  button {
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #004a99;
  }
  
  label {
    font-weight: bold;
  }
  
  hr {
    margin: 2rem 0;
    border: 0;
    border-top: 1px solid #ccc;
  }
  
  table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table th {
  background-color: #f5f5f5;
  text-align: left;
}

table td, table th {
  padding: 8px;
  border: 1px solid #ccc;
}
table tr:nth-child(even) {
  background-color: #f9f9f9;
}